---
layout: default
title: Home
---

<div>
  <img src="{{ site.github.baseurl }}/public/img/jfly.jpg" class="profile-pic">
  <div class="show-one-column-profile-pic" style="text-align: center">That's me!<br></div>
  <h1>Jeremy Fleischman</h1>
  <span class="show-two-column-profile-pic">&lt;-- That's me!<br></span>
  I am currently the leader of the World Cube Association Software Team.
  You can find me on GitHub as <a href="https://github.com/jfly">jfly</a>.
  Learn more about me <a href="{{site.github.baseurl }}/about/">here</a>.
</div>
<hr style="clear: both">

<div class="posts">
  {% for post in paginator.posts %}
    {% unless post.hidden %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date: site.date_format }}</span>

        {{ post.content }}
      </div>
    {% endunless %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.github.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.github.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.github.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
