iframe.youtube {
    max-width: 100%;
}

html {
    word-wrap: break-word; /* force the page to fit on a phone */
}

.sidebar {
    background-image: url('/public/img/IMG_1532.JPG');
    background-size: cover;
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

.sidebar a {
    color: black;
}

div.figure-wrapper {
    text-align: center;
}

figure img {
    display: inline;
    margin-bottom: 0; /* disable bottom padding to make room for figcaption */
}

figcaption {
    font-size: 0.75em;
    text-align: center;
    padding-bottom: 10px;
}

.hidden-post {
    color: red;
}

.content {
    padding-top: 10px;
}

img.profile-pic {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.show-one-column-profile-pic {
    display: inline;
}
div.show-one-column-profile-pic {
    display: block;
}
.show-two-column-profile-pic {
    display: none;
}
div.show-two-column-profile-pic {
    display: none;
}

@media (min-width: 375px) {
    .show-one-column-profile-pic {
        display: none;
    }
    div.show-one-column-profile-pic {
        display: none;
    }

    .show-two-column-profile-pic {
        display: inline;
    }
    div.show-two-column-profile-pic {
        display: block;
    }

    .content {
        padding-top: 4rem;
    }

    img.profile-pic {
        max-width: 50%;
        float: left;
        padding-right: 10px;
    }
}
