<html>
<head>
<script src="bower_components/angular/angular.js"></script>
<script src="temperature.js"></script>

<style>
input[type="range"] {
    -webkit-appearance: slider-vertical;
    display: block;
}
input[type="number"] {
    width: 80px;
    text-align: right;
}
span.temperatureView {
    display: inline-block;
}

.rangeHolder {
    display: block;
}
.overflow .rangeHolder {
    background-color: red;
}
.underflow .rangeHolder {
    background-color: blue;
}
</style>
</head>
<body ng-app>
<div ng-controller="TemperatureCtrl">
    <span class="temperatureView"
        ng-repeat="metric in temperature.metrics"
        ng-class="{ overflow: temperature.overflow(metric),
                    underflow: temperature.underflow(metric) }">
        <span class="rangeHolder">
            <!--
                We are manually calling triggerHandler() as a workaround for
                https://github.com/angular/angular.js/issues/4554
            -->
            <input type="range"
                onkeydown="angular.element(this).triggerHandler('input')"
                onkeyup="angular.element(this).triggerHandler('input')"
                ng-model="temperature[metric.name]"
                min="{{temperature.min}}"
                max="{{temperature.max}}" />
        </span>
        <input to-fixed="2" type="number" ng-model="temperature[metric.name]" />
        <span>{{ metric.symbol }}</span>
    </span>
</div>
</body>
</html>
