<head>
  <meta charset="utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title != "Home" %}
      {{ page.title }} &middot;
    {% endif %}
    {{ site.title }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/public/css/poole.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/hyde.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/jflei.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/photoswipe/photoswipe.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/photoswipe/default-skin/default-skin.css' | relative_url }}">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- JS -->
  <script src="{{ '/public/photoswipe/photoswipe.js' | relative_url }}"></script>
  <script src="{{ '/public/photoswipe/photoswipe-ui-default.js' | relative_url }}"></script>
  <script src="{{ '/public/js/init-photoswipe.js' | relative_url }}"></script>

  <!-- Socials -->
  <link rel="me" href="https://fosstodon.org/@jfly">

  <!-- Icons -->
  <link rel="icon" href="/333.svg" type="image/svg+xml">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
